*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    display:flex;
    min-height: 100vh;
    justify-content: center;
}
.card{
    position: relative;
    background: #b19cd9;
    margin: 30px;
    height: 350px;
    width: 220px;
    min-width: 220px;
    min-height: 350px; 
    border-radius: 20px;
    transition: 0.2s linear;
    box-shadow: -6px -6px 25px 0 rgba(205, 177, 255, 0.8), 6px 6px 25px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {  
    transform: scale(0.99);  
    box-shadow: inset -6px -6px 25px 0 rgba(205, 177, 255, 0.9), inset 6px 6px 25px 0 rgba(0, 0, 0, 0.1);  
} 
.header {  
    position: absolute;  
    height: 70px;  
    width: 70px;  
    left: 50%;  
    top: 15px;  
    transform: translateX(-50%);  
    border-radius: 50%;  
    box-shadow: inset -6px -6px 10px 0 rgba(205, 177, 255, 0.8), inset 10px 10px 10px 0 rgba(0, 0, 0, 0.2);  
    transition: 0.4s linear;  
}  
.header:hover {  
    box-shadow: -6px -6px 10px 0 rgba(205, 177, 255, 0.8), 10px 10px 10px 0 rgba(0, 0, 0, 0.08);  
    transform: translateX(-50%) scale(1.1);  
}
.header img {  
    position: absolute;  
    height: 90%;  
    width: 90%;  
    border-radius: 50%;  
    object-fit: cover;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
}
.body {  
    position: absolute;  
    top: 100px;  
    padding: 15px;  
    color: white;
}
.body h2 {  
    font-size: 20px;  
    text-transform: uppercase;  
    margin-bottom: 10px;  
}
.body p {  
    font-size: 10px;  
    line-height: 20px;
     
}
.footer{
    position:absolute;
    bottom: 10px;
    width: 100%;
    height: 60px;
}
.footer button{
    position: absolute;
    border: none;
    background: #b19cd9;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    box-shadow: inset -6px -6px 10px 0 rgba(205, 177, 255, 0.8), inset 6px 6px 10px 0 rgba(0, 0, 0, 0.1);  
    transition: 0.4s linear;
}
.footer:hover button {  
    transform: translate(-50%, -50%) scale(1.2);  
    box-shadow: -6px -6px 10px 0 rgba(205, 177, 255, 0.7), 6px 6px 10px 0 rgba(0, 0, 0, 0.1);  
} 